form.gaussian-params {
  width: 60%;
  margin-left: 0;
  margin-right: auto;
  padding: 15px;
  padding-left: 0px;
  margin-bottom: 20px;
  border-color: #cbd7e3;
  border-radius: 5px;
  border-width: 1px; }
  form.gaussian-params div.slider-container {
    margin-top: 15px;
    margin-bottom: 15px; }
    form.gaussian-params div.slider-container label.slider-label {
      font-size: 1.0rem; }
    form.gaussian-params div.slider-container output.slider-value {
      font-family: monospace;
      margin-left: 10px;
      color: #003b73;
      background-color: #e5ebf1;
      padding: 1px 4px;
      border-radius: 2px; }
    form.gaussian-params div.slider-container input.slider-range {
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      border-radius: 5px;
      background: #cbd7e3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s; }
    form.gaussian-params div.slider-container input.slider-range:hover {
      opacity: 1.0; }
    form.gaussian-params div.slider-container input.slider-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: solid;
      border-color: white;
      border-width: 1.5px;
      background: #003b73;
      cursor: pointer; }
    form.gaussian-params div.slider-container input.slider-range::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: solid;
      border-color: white;
      border-width: 1.5px;
      background: #003b73;
      cursor: pointer; }
  form.gaussian-params div.slider-container:last-child {
    margin-bottom: 5px; }

@media (max-width: 767.98px) {
  form.gaussian-params {
    width: 80%; } }

@media (max-width: 575.98px) {
  form.gaussian-params {
    width: 100%; } }

div#canvas-container {
  overflow-x: auto; }
  div#canvas-container svg#canvas {
    display: block;
    margin-left: auto;
    margin-right: auto; }

svg#canvas rect.AUC.sigma_AUC {
  fill: #faddcd;
  opacity: 0.4; }

svg#canvas line.sigma {
  stroke: #f87060; }

svg#canvas line.mu {
  stroke: #003b73; }

svg#canvas line.main {
  stroke-width: 1.5; }

svg#canvas line.aux {
  stroke-width: 0.75;
  opacity: 0.5;
  stroke-dasharray: 2, 0, 2; }

svg#canvas line.AUC {
  stroke: #faddcd;
  opacity: 0.4; }

svg#canvas path.gaussian_curve {
  fill: none; }

svg#canvas path.gaussian_curve.standard {
  stroke-width: 1.5;
  stroke: #cbd7e3;
  stroke-dasharray: 0.75;
  opacity: 0.75; }

svg#canvas path.gaussian_curve.animated {
  stroke-width: 2.5;
  stroke: #6c757d; }

.mu-katex-label {
  color: #003b73; }

.sigma-katex-label {
  color: #f87060; }
